<thead>
	<tr>
		<th colspan="11"><span>現在バージョン</span></th>
		<th colspan="11"><span>比較バージョン</span></th>	
	</tr>
	<tr>
		<th ><span>テーブル物理名</span></th>
		<th ><span>ID</span></th>	
		<th ><span>カラム物理名</span></th>	
		<th ><span>型</span></th>		
		<th ><span>長さ</span></th>
		<th ><span>精度</span></th>
		<th ><span>規模</span></th>
		<th ><span>PK</span></th>		
		<th ><span>NULL可</span></th>		
		<th ><span>文字長</span></th>		
		<th ><span>文字種</span></th>		
		<th ><span>テーブル物理名</span></th>
		<th ><span>ID</span></th>	
		<th ><span>カラム物理名</span></th>	
		<th ><span>型</span></th>		
		<th ><span>長さ</span></th>
		<th ><span>精度</span></th>
		<th ><span>規模</span></th>
		<th ><span>PK</span></th>		
		<th ><span>NULL可</span></th>		
		<th ><span>文字長</span></th>		
		<th ><span>文字種</span></th>	
	</tr>
</thead>