<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="Console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%X{transactionId}][%X{userId}][%X{terminalId}][%X{serviceId}][%X{appService}][%X{businessObject}][%X{sqlId}] %d{yyyy/MM/dd HH:mm:ss,SSS} %-5p [%t] %c{1} - :%m%n"/>
		</layout>
	</appender>
    <appender name="Perf" class="org.apache.log4j.DailyRollingFileAppender">
	    <param name="File" value="logs/app/perf.log" />
	    <param name="DatePattern" value="yyyyMMdd" />
	    <layout class="org.apache.log4j.PatternLayout">
	      <param name="ConversionPattern" value="[%X{transactionId}][%X{userId}][%X{terminalId}][%X{serviceId}] %d{yyyy/MM/dd HH:mm:ss,SSS} %-5p [%t] %c{1} - :%m%n"/>
	    </layout>
	  </appender>
	<root>
		<priority value ="DEBUG" />
		<appender-ref ref="Console" />
		<appender-ref ref="Perf" />
	</root>

</log4j:configuration>
